{% extends 'base.html' %}

{% block title %} Dashboard - Toko Nusantara {% endblock %}

{% block style %}
<style>
    .navbar a {
        float: left;
        display: block;
        color: #070707;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }





    section {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .search {
        --padding: 14px;

        width: max-content;
        display: flex;

        align-items: center;
        padding: var(--padding);
        padding: 8px;
        border-radius: 28px;
        background: #f6f6f6;
        transition: box-shadow 0.25;
    }

    .search:focus-within {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    }

    .search-input {
        font-size: 16px;
        font-family: 'Lexend', sans-serif;
        color: #333333;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
        width: 350px;
        flex: 1;
    }

    .search-input::placeholder,
    .search-icon {
        color: rgba(0, 0, 0, 0.5);
    }

    .search-input::placeholder {
        text-align: center;
    }

    .search-input {
        justify-content: center;
    }

    .collection .btn-secondary {
        margin-right: 20px;
        padding-top: 10px;
        margin-top: 50px;
        width: 50px;
    }

    .mycards {
        margin: 20px auto;
        max-width: 75rem;
    }

    /* Add a new style for flex container */
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Adjust as needed */
    }

    .card {
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    .card .btn-secondary {
        border-radius: 10px;
        width: 150px;
        margin-top: 20px;
        padding-top: 5px;
    }

    .main-footer {
        margin-top: 50px;
    }

    .table-striped {
        table-layout: fixed;
        width: 100%;
    }

    .wider-column {
        /* Set the desired width for the left column */
        width: 50%;
    }

    /* Add a new style for flex container */
    .container-wrapper {
        display: flex;
        justify-content: space-between;
        /* Adjust as needed */
    }

    .container {
        /* Adjust container styles as needed */
        flex: 0 0 calc(50% - 20px);
        /* Adjust width as needed with margin */
        margin-bottom: 20px;
    }
</style>
{% endblock %}
{% block navbar %}
<a href="/home" class="link-list ">Home</a>
<a href="/dashboard" class="link-list nav-active">Dashboard</a>
<a href="profile" class="link-list">Profile</a>
{% endblock %}
{% block script %}
<script>

    function konfimHapusBarang(id) {
        // Mengambil nilai data-id dari tombol yang diklik

        let item_id = $('#' + id);
        var dataId = item_id.data('id');
        $('#hapus').attr('data-id', dataId);
    }
    function hapus(id) {
        var card = $('#' + id);
        var item_id = card.data('id');
        $.ajax({
            type: "POST",
            url: "/produk/hapus",
            data: {
                id: item_id,
            },
            success: function (response) {
                if (response["result"] === "success") {
                    alert("Data berhasil dihapus")
                } else {
                    alert("Data gagal dihapus")
                }

                window.location.reload()
            }
        })
    }
    function konfimHapusHistori(id) {
        // Mengambil nilai data-id dari tombol yang diklik

        let item_id = $('#' + id);
        var dataId = item_id.data('id');
        console.log(dataId);
        $('#hapusHistori').attr('data-id', dataId);
    }
    function hapusHistori(id) {
        var card = $('#' + id);
        var item_id = card.data('id');
        $.ajax({
            type: "POST",
            url: "/histori/hapus",
            data: {
                id: item_id,
            },
            success: function (response) {
                if (response["result"] === "success") {
                    alert("Data berhasil dihapus")
                } else {
                    alert("Data gagal dihapus")
                }

                window.location.reload()
            }
        })
    }
    function is_desc(asValue) {
        var regExp = /^([A-Za-z0-9()\/@*.,:!@#$%\s]{0,25})?$/;
        return regExp.test(asValue);
    }
    function count_char() {

        // Ambil nilai dari textarea
        var deskripsi = $("#desc").val();
        let max = 25;
        // Hitung panjang karakter
        var charCount = max - deskripsi.length;
        // Update tampilan panjang karakter
        $("#charCount").text('Deskripsi (' + charCount + '/25)');
        //peringatan validasi
        if (!is_desc(deskripsi)) {
            $('#info-desc')
                .text('Maksimal 50 karakter,atau karakter khusus berikut (/@*.,:!@#$%)!')
                .removeClass('d-none');
            $("#desc").focus();
            return;
        } else {
            $('#info-desc')
                .text('')
                .addClass('d-none');
        }

    }

    //  memodifikasi titik pada tiap 3 digit
    function formatPrice(price) {
        const formattedPrice = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(price);
        return formattedPrice.endsWith(',00') ? formattedPrice.slice(0, -3) : formattedPrice;
    }
    function editItem(id) {
        let item_id = $('#' + id);
        var id_barang = item_id.data('id');
        var nama = item_id.data('nama');
        var desc = item_id.data('desc');
        var harga = item_id.data('harga');
        var jumlah = item_id.data('jumlah');
        var foto = item_id.data('foto');
        var kategori = item_id.data('kategori');
        $('#id_barang_update').val(id_barang);
        $('#namaBarang').val(nama);
        $('#desc').val(desc);
        $('#harga').val(harga);
        $('#jumlah').val(jumlah);
        $('#kategori').val(kategori);
        $("#img-produk").attr("src", "/static/" + foto);
        let descleng = $('#desc').val();
        let max = 25;
        // Hitung panjang karakter
        var charCount = max - descleng.length;
        // Update tampilan panjang karakter
        $("#charCount").text('Deskripsi (' + charCount + '/25)');

    }
    function updateItem() {
        $('#namaBarang').val();
        $('#desc').val();
        $('#harga').val();
        $('#jumlah').val();
        $('#kategori').val();

        $('#formEditPrduct').submit();
    }

</script>


{% endblock %}

{% block konten %}
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="{{ url_for('static', filename='img/carousel-home-1.png') }}" class="d-block w-100 c-img"
                alt="Slide 1">

        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='img/carousel-home-2.png') }}" class="d-block w-100 c-img"
                alt="Slide 2">

        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='img/carousel-home-3.png') }}" class="d-block w-100 c-img"
                alt="Slide 3">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-wrapper">

    <div class="container card mt-3 pb-3" style="max-height: 400px;">
        <h2 style="text-align:center; " class="mt-3"><strong>Daftar Produk</strong></h2>
        <div class="table-responsive overflow-auto ">
            <table class="table table-striped ">
                <thead class="sticky-top bg-white">
                    <tr>
                        <th scope="col" class="wider-column">Produk</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Jumlah</th>
                        <th>Aksi</th>
                    </tr>
                </thead>

                <tbody>
                    {% set data_list = data|list %}
                    {% if data_list|length == 0 %}
                    <tr>
                        <td colspan="4">
                            <h3 class="text-center text-danger">Kamu belum memasukkan data produk!</h3>
                        </td>
                    </tr>
                    {% else %}

                    {% for item in data_list %}

                    <tr>
                        <td>{{item['namaBarang']}}</td>
                        <td>{{item['harga']}}</td>
                        <td>{{item['jumlah']}}</td>
                        <td><button type="button" data-bs-toggle="modal" data-bs-target="#editProduct"
                                class="edit-btn btn btn-warning" id="barang-{{ loop.index }}"
                                data-harga="{{item['harga']}}" data-kategori="{{item['kategori']}}"
                                data-nama="{{item['namaBarang']}}" data-jumlah="{{item['jumlah']}}"
                                data-desc="{{item['desc']}}" data-foto="{{item['foto']}}" data-id="{{item['_id']}}"
                                onclick="editItem(this.id)" style="width: 50px;"><i
                                    class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;"></i></button>
                            <button class="delete-btn btn btn-danger" style="width: 50px"
                                data-bs-target="#hapuskonfirmasi" data-bs-toggle="modal" id="del-{{ loop.index }}"
                                data-id="{{item['_id']}}" onclick="konfimHapusBarang(this.id)"><i
                                    class="fa-solid fa-trash-can fa-lg" style="color: #ffffff;"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="container card mt-3 pb-3" style="max-height: 400px;">
        <h2 style="text-align:center;" class="mt-3"><strong>Histori Transaksi</strong></h2>
        <div class="table-responsive overflow-auto ">
            <table class="table table-striped">
                <thead class="sticky-top bg-white">
                    <tr>
                        <th scope="col">Tanggal</th>
                        <th scope="col" class="wider-column">Produk</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% set histori_list = histori|list %}
                    {% if histori_list|length == 0 %}
                    <tr>
                        <td colspan="4">
                            <h3 class="text-center text-danger">Belum ada histori transaksi!</h3>
                        </td>
                    </tr>
                    {% else %}
                    {% for item in histori_list %}
                    <tr>
                        <td>{{item['tanggal']}}</td>
                        <td>{{item['namaBarang']}}</td>
                        <td>{{item['jumlah']}}</td>
                        <td> <button class="delete-btn btn btn-danger" style="width: 50px"
                                data-bs-target="#hapusHistoriKonfirmasi" data-bs-toggle="modal"
                                id="historidel-{{ loop.index }}" data-id="{{item['_id']}}"
                                onclick="konfimHapusHistori(this.id)"><i class="fa-solid fa-trash-can fa-lg"
                                    style="color: #ffffff;"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editProduct" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Edit Produk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produk/update" method="post" enctype="multipart/form-data" id="formEditPrduct">
                    <input type="hidden" name="id_barang_update" id="id_barang_update">
                    <div class="mb-3 d-flex justify-content-center">
                        <div class="my-3" style="height: 10rem; width:10rem;  overflow:hidden">
                            <img id="img-produk" src="" alt="" class="img-circle" style="height: 100%;">

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="namaBarang" class="form-label">Nama Barang</label>
                        <input type="text" class="form-control" id="namaBarang" name="namaBarang">
                        <p id="info-name" class="text-danger d-none"></p>
                    </div>

                    <div class="mb-3">
                        <label for="kategori" class="form-label">Kategori</label>
                        <select class="form-select" id="kategori" name="kategori" aria-label="dropdown kategori"
                            required>
                            <option value="Elektronik">Elektronik</option>
                            <option value="Kebersihan">Kebersihan</option>
                            <option value="Kecantikan">Kecantikan</option>
                            <option value="Makanan">Makanan</option>
                            <option value="Minuman">Minuman</option>
                            <option value="Sembako">Sembako</option>
                            <option value="Perabotan">Perabotan</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                        <p id="info-kategori" class="text-danger d-none"></p>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <div class="me-2">
                                <label for="jumlah" class="form-label">jumlah</label>
                                <input type="number" class="form-control " id="jumlah" name="jumlah" required>
                            </div>
                            <div class="ms-2">
                                <label for="harga" class="form-label">harga</label>
                                <input type="number" class="form-control " id="harga" name="harga" required>
                            </div>
                        </div>
                        <p id="info-harga" class="text-danger d-none"></p>
                        <p id="info-jumlah" class="text-danger d-none"></p>
                    </div>

                    <div class="mb-3">
                        <label for="foto" class="form-label">Foto </label>
                        <input class="form-control" type="file" id="foto" name="foto">
                        <p id="info-foto" class="text-danger d-none"></p>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label" id="charCount">Deskripsi </label>
                        <textarea class="form-control" id="desc" rows="3" name="desc" onkeyup="count_char()"
                            maxlength="25" oninput="count_char()"></textarea>
                        <p id="info-desc" class="text-danger d-none"></p>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" data-bs-target="#editkonfirmasi"
                        data-bs-toggle="modal">Simpan perubahan</button>
                </form>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editkonfirmasi" aria-hidden="true" aria-labelledby="editProdukKonfirmasi" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editProdukKonfirmasi">Ubah</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Apakah anda yakin ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-bs-dismiss="modal" onclick="updateItem()">Konfirmasi</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProduct">Kembali</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hapuskonfirmasi" aria-hidden="true" aria-labelledby="hapusProdukKonfirmasi" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="hapusProdukKonfirmasi">Hapus Produk</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Apakah anda yakin ingin menghapus produk ini ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning " data-bs-dismiss="modal" id="hapus"
                    onclick="hapus(this.id)">Konfirmasi</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Kembali</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hapusHistoriKonfirmasi" aria-hidden="true" aria-labelledby="hapusHistoriKonfirmasiTitle"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="hapusHistoriKonfirmasiTitle">Hapus Histori Penjulan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Apakah anda yakin ingin menghapus produk ini ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning " data-bs-dismiss="modal" id="hapusHistori"
                    onclick="hapusHistori(this.id)">Konfirmasi</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Kembali</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}