{% extends 'base.html' %}

{% block title %}Home - Toko Nusantara{% endblock %}

{% block navbar %}
<a href="/home" class="link-list nav-active">Home</a>
<a href="/dashboard" class="link-list">Dashboard</a>
<a href="/profile" class="link-list ">Profile</a>
{% endblock %}

{% block script %}
<script>
  {% if msg %}
  alert('{{msg}}')
  window.location.href = '/home'
  {% endif %}

  function submitForm() {
    let namaBarang = $('#namaBarang');
    let kategori = $('#kategori');
    let jumlah = $('#jumlah');
    let harga = $('#harga');
    let foto = $('#foto');
    let deskripsi = $('#deskripsi');

    if (!is_name(namabarang)) {
      $('#info-namaBarang')
        .text('Hanya masukkan angka dan huruf, minimal 3 karakter Maksimal 20 karakter !')
        .removeClass('d-none');
      $("#namaBarang").focus();
      return;
    }
    $('#formInputProduct').submit();
    reset();
    //$('#submitInputProduct').prop('disabled', true);

  }
  function is_desc_prod(asValue) {
    var regExp = /^([A-Za-z0-9()\/@*.,:!@#$%\s]{0,25})?$/;
    return regExp.test(asValue);
  }
  function count_char_desc() {

    // Ambil nilai dari textarea
    var deskripsi = $("#deskripsi").val();
    let max = 25;
    // Hitung panjang karakter
    var charCount = max - deskripsi.length;
    // Update tampilan panjang karakter
    $("#charCount").text('Deskripsi (' + charCount + '/25)');
    //peringatan validasi
    if (!is_desc_prod(deskripsi)) {
      $('#info-deskripsi')
        .text('Maksimal 25 karakter,atau karakter khusus berikut (/@*.,:!@#$%)!')
        .removeClass('d-none');
      $("#deskripsi").focus();
      return;
    } else {
      $('#info-deskripsi')
        .text('')
        .addClass('d-none');
    }
  }
  //reset modal form input barang
  function reset() {
    $('#namaBarang').val('');
    $('#kategori').val('');
    $('#jumlah').val('');
    $('#harga').val('');
    $('#foto').val('');
    $('#deskripsi').val('');
  }

  function update(id) {
    var card = $('#' + id);
    id = id.split('-');
    var jumlah = $('#quantityInput-' + id[1]).val();
    var item_id = card.data('idbarang');
    $.ajax({
      type: "POST",
      url: "/updateJml",
      data: {
        id: item_id,
        jumlah: jumlah
      },
      success: function (response) {

        window.location.reload()
      }
    })
  }
  //menambah item ke cart
  function addItem(id) {
    var card = $('#' + id);
    var table = $('#cart');
    var dataCart = [];
    var itemName = card.data('name');
    var ids = id.split('-')

    table.find('tr').each(function () {
      var cellData = $(this).find('td:eq(1)').text();
      dataCart.push(cellData);
      return dataCart;
    });


    //cek data di cart
    if (dataCart.includes(itemName)) {
      editItem(ids[1]);
    } else {
      var item_id = card.data('idbarang');
      var itemPrice = parseFloat(card.data('price'));
      var jml = $('#quantityInput-' + ids[1]).val();
      var table = document.getElementById('cart').getElementsByTagName('tbody')[0];
      var nomor = table.rows.length + 1;
      var newRow = table.insertRow(table.rows.length);

      var cell1 = newRow.insertCell(0);
      var cell2 = newRow.insertCell(1);
      var cell3 = newRow.insertCell(2);
      var cell4 = newRow.insertCell(3);
      var cell5 = newRow.insertCell(4);
      var cell6 = newRow.insertCell(5);

      cell1.innerHTML = nomor;
      cell2.innerHTML = itemName;
      cell3.innerHTML = 'Rp ' + itemPrice.toFixed(2);
      cell4.innerHTML = '<input type="number" id="edit-' + ids[1] + '" style="width:30px; border:unset" min="1" data-idbarang="' + item_id + '" value="' + jml + '" onchange="updateTotal(this)">';
      cell5.innerHTML = 'Rp ' + itemPrice.toFixed(2);
      cell6.innerHTML = '<button class="edit-btn btn btn-warning" onclick="editItem(' + ids[1] + ')" style="width: 50px;"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;"></i></button> <button class="delete-btn btn btn-danger" onclick="deleteItem(this)" style="width: 50px"><i class="fa-solid fa-trash-can fa-lg" style="color: #ffffff;"></i></button>';

      updateTotal();
      showCart();
    };


    hideInputJml(id);
  }




  function updateTotal(input) {
    var rows = document.getElementById('cart').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    var total = 0;

    for (var i = 0; i < rows.length; i++) {
      var price = parseFloat(rows[i].cells[2].innerText.replace('Rp ', ''));
      var quantity = parseInt(rows[i].cells[3].getElementsByTagName('input')[0].value);
      var subtotal = price * quantity;
      rows[i].cells[4].innerText = 'Rp ' + subtotal.toFixed(2);
      total += subtotal;
    }

    document.getElementById('total').innerText = 'Rp ' + total.toFixed(2);
  }

  function editItem(id) {
    $("#edit-" + id).focus();
  }

  function deleteItem(button) {
    var row = button.closest('tr');
    row.parentNode.removeChild(row);
    updateTotal();
    showCart();
  }


  function showCart() {
    var cartTable = $('#cart');
    var hasItems = cartTable.find('tbody tr').length > 0;
    if (hasItems) {
      cartTable.removeClass('d-none'); // Menghapus kelas 'd-none' jika ada item
    } else {
      cartTable.addClass('d-none'); // Menambahkan kelas 'd-none' jika tidak ada item
    }
  }
  function hideCart() {
    //sembuntukan cart table
    $('#cart').addClass('d-none');
    // Menghapus semua elemen dalam tbody
    $('#cart tbody').empty();
  }
  //jual barang yang ada di cart
  function jualCart() {
    var table = $('#cart');
    var dataCart = [];
    let today = new Date().toISOString().split('T')[0];
    table.find('tr').each(function () {
      var nama = $(this).find('td:eq(1)').text();
      var jumlah = $(this).find('td:eq(3) input').val();
      var id = $(this).find('td:eq(3) input').data('idbarang')
      new_data = {
        id: id,
        nama: nama,
        jumlah: jumlah,
        tanggal: today
      }
      if (jumlah) {
        dataCart.push(new_data);
      }

    });
    dataCart = JSON.stringify(dataCart)
    $.ajax({
      type: "POST",
      url: "/jual",
      contentType: 'application/json',
      dataType: 'json',
      data: dataCart,
      success: function (response) {
        alert('Data Penjualan Telah di simpan');
        hideCart();
        location.reload(true);
      }
    })
  }
  function showInputJml(id) {
    id = id.split('-');
    if (id[0] === 'jual') {
      $('#inputjml-' + id[1]).removeClass('d-none');
      $('#batal-' + id[1]).removeClass('d-none');
      $('#jualCart-' + id[1]).removeClass('d-none');
      $('#tambah-' + id[1]).addClass('d-none');
      $('#jual-' + id[1]).addClass('d-none');
    } else {
      $('#inputjml-' + id[1]).removeClass('d-none');
      $('#batal-' + id[1]).removeClass('d-none');
      $('#update-' + id[1]).removeClass('d-none');
      $('#tambah-' + id[1]).addClass('d-none');
      $('#jual-' + id[1]).addClass('d-none');
    }

  }
  function hideInputJml(id) {

    id = id.split('-');
    // Update navbar active state
    $('#tambah-' + id[1]).removeClass('d-none');
    $('#jual-' + id[1]).removeClass('d-none');
    $('#batal-' + id[1]).addClass('d-none');
    $('#inputjml-' + id[1]).addClass('d-none');
    $('#jualCart-' + id[1]).addClass('d-none');
    $('#update-' + id[1]).addClass('d-none');
    $('#quantityInput-' + id[1]).val(1);
  }

  function increment(id) {
    id = id.split('-')
    var inputElement = $('#quantityInput-' + id[1]);
    var currentValue = parseInt(inputElement.val()) || 1;
    inputElement.val(currentValue + 1);
  }

  function decrement(id) {
    id = id.split('-')
    var inputElement = $('#quantityInput-' + id[1]);
    var currentValue = parseInt(inputElement.val()) || 1;
    if (currentValue > 1) {
      inputElement.val(currentValue - 1);
    }
  }

</script>
{% endblock %}

{% block style %}
<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
</style>
{% endblock %}

{% block konten %}
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="{{ url_for('static', filename='img/carousel-home-1.png') }}" class="d-block w-100 c-img" alt="Slide 1">

    </div>
    <div class="carousel-item c-item">
      <img src="{{ url_for('static', filename='img/carousel-home-2.png') }}" class="d-block w-100 c-img" alt="Slide 2">

    </div>
    <div class="carousel-item c-item">
      <img src="{{ url_for('static', filename='img/carousel-home-3.png') }}" class="d-block w-100 c-img" alt="Slide 3">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="button mt-3">
  <div class="d-flex justify-content-around mb-8">
    <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#inputProduct"
      style="color: white;">Input
      Produk</button>
  </div>
</div>
<div class="container my-3">
  <!-- search -->
</div>
<!-- table -->
<div class=" container table-responsive-md">
  <table class="table d-none" id="cart" style="table-layout: fixed;
  width: 100%;">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Produk</th>
        <th scope="col">Harga Satuan</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Sub Total</th>
        <th scope="col">Aksi</th>

      </tr>
    </thead>
    <tbody class="table-group-divider">


    </tbody>
    <tfoot class="table-group-divider ">
      <tr>
        <td colspan="4"><strong>Total</strong></td>
        <td id="total">Rp 0</td>
        <td></td>
      </tr>
      <tr class="border-0 border-top">
        <td colspan="6" style="text-align: center; border:unset;"><button class="btn btn-success me-2"
            style="width: 100px;" onclick="jualCart()">Selesai</button><button class="btn btn-danger ms-2"
            style="width: 100px;" onclick="hideCart()">Batal</button></td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="inputProduct" tabindex="-1" aria-labelledby="inputProduct" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Input Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/inputBarang" method="post" enctype="multipart/form-data" id="formInputProduct">

          <div class="mb-3">
            <label for="namaBarang" class="form-label">Nama Barang</label>
            <input type="text" class="form-control" id="namaBarang" name="namaBarang" required>
            <p id="info-namaBarang" class="text-danger d-none"></p>
          </div>
          <div class="mb-3">
            <label for="kategori" class="form-label">Kategori</label>
            <select class="form-select" id="kategori" name="kategori" aria-label="dropdown kategori" required>
              <option value="Elektronik">Elektronik</option>
              <option value="Kebersihan">Kebersihan</option>
              <option value="Kecantikan">Kecantikan</option>
              <option value="Makanan">Makanan</option>
              <option value="Minuman">Minuman</option>
              <option value="Sembako">Sembako</option>
              <option value="Perabotan">Perabotan</option>
              <option value="Lainnya">Lainnya</option>
            </select>
            <p id="info-kategori" class="text-danger d-none"></p>
          </div>
          <div class="mb-3">
            <div class="d-flex justify-content-between">
              <div class="me-2">
                <label for="jumlah" class="form-label">jumlah</label>
                <input type="number" class="form-control " id="jumlah" name="jumlah" required>
              </div>
              <div class="ms-2">
                <label for="harga" class="form-label">harga</label>
                <input type="number" class="form-control " id="harga" name="harga" required>
              </div>
            </div>
            <p id="info-harga" class="text-danger d-none"></p>
            <p id="info-jumlah" class="text-danger d-none"></p>
          </div>


          <div class="mb-3 ">
            <label for="foto" class="form-label">Foto </label>
            <input class="form-control" type="file" id="foto" name="foto" required>
            <p id="info-foto" class="text-danger d-none"></p>
          </div>
          <div class="mb-3">
            <label for="deskripsi" class="form-label" id="charCount">Deskripsi (maks 25 karakter)</label>
            <textarea class="form-control" id="deskripsi" rows="3" name="desc" onkeyup="count_char_desc()"
              maxlength="25" oninput="count_char_desc()"></textarea>
            <p id="info-deskripsi" class="text-danger d-none"></p>
          </div>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" onclick="reset()">Tutup</button>
          <button type="submit" id="submitInputProduct" class="btn btn-primary" onclick="submitForm()">Simpan</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- card container -->
<div class="container-lg mt-5">


  {% set data_list = data|list %}
  {% if data_list|length == 0 %}
  <div class="col mb-3">
    <h3 class="text-center text-danger">Kamu belum memasukkan data produk!</h3>
  </div>


  {% else %}
  <div class="row row-cols-1 row-cols-md-4 g-10" id="cardcontainer">
    <!-- setiap id tambahkan nomer berdasarkan iterasi -->
    <!-- card barang -->
    {% for item in data_list %}
    <div class="col mb-3">
      <div class="card h-100">
        <img src="{{url_for('static', filename=item['foto'])}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item['namaBarang']}}</h5>
          <p class="card-text">Rp {{item['harga']}}</p>
          <div class="d-flex justify-content-center">
            <p>{{item['jumlah']}}pcs</p>
          </div>
          <!-- input jml -->
          <div class="mb-2 d-flex justify-content-center d-none" id="inputjml-{{ loop.index }}">
            <div class="border">
              <button class="border border-0" id="dec-{{ loop.index }}" style="width: 30px;"
                onclick="decrement(this.id)">-</button>
              <input class="text-center border border-0" style="width: 140px;" type="number"
                id="quantityInput-{{ loop.index }}" value="1">
              <button class="border border-0" id="inc-{{ loop.index }}" style="width: 30px;"
                onclick="increment(this.id)">+</button>
            </div>
          </div>

          <!-- tombol lihat -->
          <div class="d-flex justify-content-around mb-2">
            <button class="btn btn-outline-success" id="jual-{{ loop.index }}" onclick="showInputJml(this.id)"
              style="width:100px">Jual</button>
            <button class="btn btn-success d-none" id="jualCart-{{ loop.index }}" data-name="{{item['namaBarang']}}"
              data-price="{{item['harga']}}" data-idbarang="{{item['_id']}}" onclick="addItem(this.id)"
              style="width:100px">Jual</button>
            <button class="btn  btn-outline-primary" id="tambah-{{ loop.index }}" style="width:100px"
              onclick="showInputJml(this.id)">Tambah</button>
            <button class="btn btn-primary d-none" id="update-{{ loop.index }}" style="width:100px"
              data-idbarang="{{item['_id']}}" onclick="update(this.id)">Update</button>
            <button class="btn btn-outline-danger d-none" id="batal-{{ loop.index }}" onclick="hideInputJml(this.id)"
              style="width:100px">Batal</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}


</div>
{% endblock %}