* {
    font-family: 'Roboto', sans-serif;
}

.nav-container {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 0rem 0.13rem 3px rgba(0, 0, 0, 0.15) !important;
    z-index: 1;
    position: sticky;
}

.nav-container .nav-link {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-link .link-list {
    text-decoration: unset;
    color: black;
    margin: 0px 8px;
}

.c-item {
    height: 340px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(1);

}

.nav-active {
    color: green !important;
    border: none;
    border-bottom: 3px solid green;
    border-radius: 0;
    outline: none;
}