<!doctype html>
<html lang="en">

<head>
    <title>Profile - Toko Nusantara</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Profile customer" />
    <meta property="og:description" content="Profile customer Toko Nusantara" />
    <meta property="og:image" content="{{url_for('static', filename='logo_red.png')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--example external css  -->
    <!-- <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet"> -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- font-awsome -->
    <script src="https://kit.fontawesome.com/2efb8198c8.js" crossorigin="anonymous"></script>

    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }


        a {
            color: inherit;
            text-decoration: none;
        }

        .card {
            margin-bottom: 50px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        .figure {
            text-align: center;
        }

        .figure img {
            max-height: 150px;
            border-radius: 50% !important;
            margin-bottom: 10px;
        }

        .figure-caption {
            text-align: center;
            font-size: 16px;
        }

        .nav-container {
            background-color: rgb(255, 255, 255);
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            box-shadow: 0rem 0.13rem 3px rgba(0, 0, 0, 0.15) !important;
            z-index: 1;
            position: sticky;
        }

        .nav-container .nav-link {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .nav-link .link-list {
            text-decoration: unset;
            color: black;
            margin: 0px 8px;
        }

        .profileimg {
            width: 10rem;
        }

        .desc {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1000px;
            min-width: 300px;
        }

        .wicon {
            width: 1rem;
        }

        .wket {
            width: 4rem;
        }

        .desprofile {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            margin-left: 1rem;
        }

        .navbar a {
            float: left;
            display: block;
            color: #070707;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .active {
            color: green !important;
            border: none;
            border-bottom: 3px solid green;
            border-radius: 0;
            outline: none;
        }

        .myswitch {
            width: 100px;
            height: 50px;

        }

        @media (max-width: 767px) {
            .desprofile {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .desc {
                justify-content: center;
            }
        }

        /* sidebar style */
        .figure {
            text-align: center;
        }

        .figure img {
            max-height: 150px;
            border-radius: 50% !important;
            margin-bottom: 10px;
        }

        .figure-caption {
            text-align: center;
            font-size: 16px;
        }

        .card-sidebar {
            padding: 0 10px 0 10px;
            margin: 0 10px 10px 10px;
            width: 90%
        }

        .btn-list {
            text-align: center;
        }

        .card-mylist-empty {
            margin: 10px 20px 10px 20px;
            padding: 100px 0 100px 0;
            background: white;
            border-radius: 5%;
            text-align: center;
        }

        .fa-trash-can {
            color: rgb(255, 0, 0);
        }




        .mylist-tokoname {
            font-size: 80%;
        }
    </style>
    <script>

        //Di komen dulu, error soalnya -->

        {% if msg %}
        alert('{{msg}}')
        window.location.href = '/profile'
        {% endif %}




        $(document).ready(function () {
            
            // Initial setup
            toggleFields('Semua');

            // Handle navbar link click event
            $('.navbar a').click(function (e) {
                e.preventDefault();
                var userType = $(this).attr('id').replace('Link', ''); // Extract 'customer' or 'seller'
                toggleFields(userType);
            });

            // Function to toggle fields based on user type
            function toggleFields(userType) {
                // Update navbar active state
                $('.navbar a').removeClass('active');
                $('#' + userType + 'Link').addClass('active');

            }


            toggleFields('Semua');

            getMyListItems();
            getSellers();
            kategori("SemuaLink");

        });



        // Function to retrieve MyList items from the server
        function getMyListItems() {
            $.ajax({
                type: "GET",
                url: "/get_mylist",
                success: function (response) {
                    updateMyListTable(response.mylist_items);
                },
                error: function (error) {
                    console.error("Error fetching MyList items:", error);
                }
            });
        }
        // // Function to update MyList table
        function updateMyListTable(mylistItems) {
            var myListTableBody = $("#mylist tbody");
            myListTableBody.empty(); // Clear existing content

            var totalPrice = 0;

            mylistItems.forEach(function (item) {

                var rowHtml = `
             <tr id="row-list">
                 <td>${item.namaProduk}<br><a class="mylist-tokoname" href="/user/${item.toserbaname}" style='color: rgb(0, 160, 209);'>${item.toserbaname}</a></td>
                 <td>${item.jumlah}</td>
                 <td>Rp ${item.harga}</td>
                 <td><a href="#" onclick="deleteListItem('${item.listId}')"><i class="fa-solid fa-trash-can" style="color:red;"></i></a></td>
             </tr>`;
                myListTableBody.append(rowHtml);

                // Calculate total price
                totalPrice += parseFloat(item.harga);
            });

            // Update the total price in the table footer
            $("#list-total-harga").text("Rp " + totalPrice.toFixed(2));
        }



        function deleteListItem(rowId) {
            // Send an AJAX request to the server to delete the item
            $.ajax({
                type: "POST",
                url: "/remove_mylist",
                data: { listId: rowId },
                success: function (response) {
                    if (response["result"] === "success") {
                        alert("Berhasil dihapus");
                        getMyListItems();
                        updateTotalPrice();
                    } else {
                        alert("Gagal dihapus");
                    }


                }
            });
        }
        // Function to update the total price in the table footer
        function updateTotalPrice() {
            var totalPrice = 0;

            $("#mylist tbody tr").each(function () {
                var price = parseFloat($(this).find('td:eq(2)').text().replace('Rp ', '').replace(',', ''));
                totalPrice += price;
            });

            // Update the total price in the table footer
            $("#list-total-harga").text("Rp " + totalPrice.toFixed(2));
        }
        function getSellers() {
            $.ajax({
                type: "GET",
                url: "/favorite/seller",
                success: function (response) {
                    if (response["result"] === "success") {
                        var myFavoriteTableBody = $("#myfavorite tbody");
                        myFavoriteTableBody.empty();
                        let sellers = response["sellers"];
                        for (let i = 0; i < sellers.length; i++) {
                            let seller = sellers[i];


                            var tableFav = `
                                <tr>
                                    <td><a href="/user/${seller.toserbaname}" style='color: rgb(0, 160, 209);'>${seller.toserbaname}</a></td>                     
                                    <td class="text-end"><a href="#" onclick="delfav('${seller.seller_id}')"><i class="fa-solid fa-trash-can"></i></a></td>   
                                </tr>`;
                            myFavoriteTableBody.append(tableFav);


                        }
                    } else {
                        alert("Data gagal dimuat")
                        window.location.reload()
                    }
                }
            });

        }
        var username = "{{ username }}" || null;
        function addToMyList(namaProduk, harga, toserbaname, id) {
            // Check if the user is logged in
            if (!username) {
                // If not logged in, show an alert and return
                alert("Kamu harus login untuk menggunakan fitur ini.");
                return;
            }

            // Prepare the data to be sent to the server
            var data = {
                username: username,
                namaProduk: namaProduk,
                harga: harga,
                toserbaname: toserbaname,
                barangId: id
            };

            // Send the data to the server using AJAX
            $.ajax({
                type: "POST",
                url: "/add_to_mylist",
                data: JSON.stringify(data),
                contentType: "application/json;charset=UTF-8",
                success: function (response) {
                    // Handle success (if needed)
                    console.log("Product added to MyList:", response);

                    // Check if the product is already in the MyList
                    var existingRow = $("#mylist tbody tr:contains('" + namaProduk + "')");

                    if (existingRow.length > 0) {
                        // If the product is already in the MyList, update quantity and total price
                        var existingQuantity = parseInt(existingRow.find('td:eq(1)').text());
                        existingRow.find('td:eq(1)').text(existingQuantity + 1);

                        var existingPrice = parseFloat(existingRow.find('td:eq(2)').text().replace('Rp ', '').replace(',', ''));
                        harga = parseInt(harga)
                        var newTotalPrice = existingPrice + harga;
                        existingRow.find('td:eq(2)').text("Rp " + newTotalPrice.toFixed(2));
                    } else {
                        // If the product is not in the MyList, add a new row
                        var rowHtml = `
                            <tr id="row-list">
                                <td>${namaProduk}
                                    <br>
                                    <p class="mylist-tokoname">${toserbaname}
                                    </p>
                                </td>
                                <td>1</td>
                                <td>Rp ${harga.toFixed(2)}</td>
                            </tr>`;

                        // Append the new row to the MyList table
                        $("#mylist tbody").append(rowHtml);
                    }

                    // Update the total price in the table footer
                    updateTotalPrice();
                    alert("Berhasil di tambahkan!");
                    location.reload(true)

                },
                error: function (error) {
                    console.error("Error adding product to MyList:", error);
                }
            });
        }
        function kategori(id) {
            // Get the id of the clicked link
            var category = id.split("Link")[0];
            var use_user_id ="{{ data['_id'] }}"
            
            // Send an AJAX request to the server to get product data
            $.ajax({
                type: "GET",
                url: "/get_products",
                data: { category: category, use_user_id:use_user_id },
                success: function (response) {
                    if (response["result"] === "success") {
                        $("#post-box").empty();
                        let posts = response["posts"];
                        for (let i = 0; i < posts.length; i++) {
                            let post = posts[i];
                            let html_temp = `
                                            

                            <div class="col">
                                <div class="card">
                                    <div class="image-container" style="max-height: 80%; overflow: hidden;">
                                        <img src="/static/${post['foto']}" class="card-img-top" alt="Product Image">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">${post['namaBarang']}</h5>
                                        <p class="card-name">${post['toserbaname']}</p>
                                        <p class="card-text">${post['desc']}</p>
                                        <p class="card-text">Rp. ${post['harga']}</p>
                                        <p class="card-text">Tersisa ${post['jumlah']}</p>
                                    </div>
                                    <div class="d-flex justify-content-around mb-3">
                                        <button onclick="addToMyList('${post['namaBarang']}', ${post['harga']}, '${post['toserbaname']}')" class="btn btn-warning " style="width:95%">Tambah</button>
                                    </div>
                                </div>
                            </div>
                            
                            `;
                            $("#post-box").append(html_temp);

                        }
                    }
                }
            });
        };

        function showAlert() {
            alert("Please log in to use this feature.");
        }

        function showAlertProfile() {
            alert("Please log in first.");
        }

    </script>
</head>

<body>

    <nav class="nav-container fixed-top">
        <div class="navbar-brand"><img src="/static/logo.png" alt="" style="max-height: 25px;"></div>
        <div class="nav-link">

            {% if username %}
            <a href="/home" class="link-list">Home</a>
            <a class="link-list" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                aria-controls="staticBackdrop">MyList</a>
            <a href="/profile" class="link-list">Profile</a>
            {% else %}
            <a href="/" class="link-list">Home</a>
            <a href="#" class="link-list" onclick="showAlert()">MyList</a>
            <a href="#" class="link-list" onclick="showAlertProfile()">Profile</a>
            {% endif %}
        </div>
        <div class="nav-logout">
            {% if username %}
            <a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket fa-lg"
                    style="color: #000000;"></i></a>
            {% else %}
            <a href="/login" class="logout"><i class="fa-solid fa-arrow-right-from-bracket fa-lg"
                    style="color: #000000;"></i></a>
            {% endif %}


        </div>
    </nav>

    <div class="container-fluid" style="background-color: #ffc536ff;">
        <br>

        <div class="container-sm  d-flex  justify-content-center flex-wrap">
            <div class=" profileimg flex-warap flex-column d-flex align-items-center flex-center">
                <div class="my-3" style="height: 10rem; width:10rem; border-radius:50%; overflow:hidden">
                    <img src="{{ url_for('static', filename=data['profile_pic_real']) }}" alt="" class="img-circle"
                        style="height: 100%;">

                </div>

                <h5>{{data['toserbaname']}}</h5>

                <div>
                    <a href="mailto:{{data['email']}}" style="text-decoration: none;">{{data['email']}}</a>
                </div>
            </div>


            <div class="desprofile ">
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-solid fa-shop" style="color: #000000;"></i></div>
                    <div class="mx-1 wket">Produk</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1">263</div>
                </div>
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-solid fa-location-dot" style="color: #ff0000;"></i></div>
                    <div class="mx-1 wket">Alamat</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1"><a href="{{data['alamat']}}" target="_blank">{{data['alamat']}}</a></div>
                </div>
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-brands fa-whatsapp" style="color: #1b9834;"></i></div>
                    <div class="mx-1 wket">Telepon</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1">{{data['no_telp']}}</div>
                </div>
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-solid fa-circle-info" style="color: #0c136e;"></i></div>
                    <div class="mx-1 wket">Deskripsi</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1">{{data['profile_info']}}</div>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="navbar">
                    <a href="#" id="SemuaLink" class="myswitch active mx-2" onclick="kategori(this.id)">Semua</a>
                    <a href="#" id="SembakoLink" class="myswitch mx-2" onclick="kategori(this.id)">Sembako</a>
                    <a href="#" id="KebersihanLink" class="myswitch mx-2" onclick="kategori(this.id)">Kebersihan</a>
                    <a href="#" id="PerabotanLink" class="myswitch mx-2" onclick="kategori(this.id)">Perabotan</a>
                    <a href="#" id="MakananLink" class="myswitch mx-2" onclick="kategori(this.id)">Makanan</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- sidebar -->
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="d-flex flex-column align-items-center">
                <figure class="figure">
                    <img src="{{ url_for('static', filename=data['profile_pic_real']) }}"
                        class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">{{username}}</figcaption>
                    <!-- link edit profile tambahkan modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#editProfile">Edit</button>
                </figure>
                <h5>MyList</h5>

                <div class="card card-sidebar card-mylist wider-card">
                    <div class="card-body">
                        <p class="card-text">
                        <table id="mylist" class="table">
                            <thead>
                                <tr class="list-subtitle">
                                    <th scope="col">Deskripsi</th>
                                    <th scope="col">jml</th>
                                    <th scope="col">Harga</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td id="list-total-harga"></td>
                                </tr>
                            </tfoot>
                        </table>
                        </p>

                    </div>
                </div>
                <div class="card card-sidebar card-myfavorite wider-card">
                    <div class="card-body">
                        <p class="card-text">
                        <table id="myfavorite" class="table">
                            <thead>
                                <tr class="list-subtitle">
                                    <th scope="col">Toko Favoritku</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>

                            </tbody>

                        </table>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container my-3">
        <div id="post-box" class="row row-cols-1 row-cols-md-4 g-4">

        </div>
    </div>
    <!-- <div class="container-lg mt-5">
        <div id="produk" class="row row-cols-1 row-cols-md-4 g-4">
            {% for product in products %}
            <div class="col">
                <div class="card">

                    <div class="image-container" style="max-height: 80%; overflow: hidden;">

                        <img src="{{ url_for('static', filename=product.foto) }}" class="card-img-top"
                            alt="Product Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.namaBarang }}</h5>
                        <p class="card-name">{{ product.toserbaname }}</p>
                        <p class="card-text">{{ product.desc }}</p>
                        <p class="card-text">Rp. {{ product.harga }}</p>
                        <p class="card-text">Tersisa {{ product.jumlah }}</p>
                    </div>
                    <div class="d-flex justify-content-around mb-3">
                        <button class="btn btn-secondary"
                            onclick="addToMyList('{{ product.namaBarang }}', '{{ product.harga }}', '{{ product.toserbaname }}','{{ product._id }}')">Tambah
                            Ke MyList</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->
    <!-- Modal -->
    <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/profile/edit" method="post" enctype="multipart/form-data" id="formEditProfile">

                        <div class="mb-3">
                            <label for="newCustomerName" class="form-label">Username</label>
                            <input type="text" class="form-control" id="newCustomerName" name="username"
                                value="{{data['username']}}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{data['email']}}">
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Edit password</label>
                            <div class="d-flex">
                                <input type="password" class="form-control me-2" id="password" name="password"
                                    placeholder="password">
                                <input type="password" class="form-control ms-2" id="newPassword" name="newPassword"
                                    placeholder="new password">
                            </div>

                        </div>
                        <div class="mb-3">
                            <label for="foto" class="form-label">Foto </label>
                            <input class="form-control" type="file" id="foto" name="foto"
                                value="{{data['profile_pic']}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Simpan perubahan</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/home" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="/static/logo.png" alt="" style="max-height: 25px;">
            </a>
        </div>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Toko Nusantara, </span>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram"
                        style="color: #f457c3;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-regular fa-envelope"
                        style="color: #eb2424;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook"
                        style="color: #0b53d0;"></i></a></li>

        </ul>
    </footer>
</div>

</html>