<!doctype html>
<html lang="en">

<head>
    <title>Profile - Toko Nusantara</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Profile customer" />
    <meta property="og:description" content="Profile customer Toko Nusantara" />
    <meta property="og:image" content="{{url_for('static', filename='logo_red.png')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--example external css  -->
    <!-- <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet"> -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- font-awsome -->
    <script src="https://kit.fontawesome.com/2efb8198c8.js" crossorigin="anonymous"></script>

    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        /* anchor tidak berwarna */
        a {
            color: inherit;
            text-decoration: none;
        }

        .card {
            margin-bottom: 50px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        .figure {
            text-align: center;
        }

        .figure img {
            max-height: 150px;
            border-radius: 50% !important;
            margin-bottom: 10px;
        }

        .figure-caption {
            text-align: center;
            font-size: 16px;
        }

        .nav-container {
            background-color: white;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            box-shadow: 0rem 0.13rem 3px rgba(0, 0, 0, 0.15) !important;
            z-index: 1;
            position: sticky;
        }

        .nav-container .nav-link {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .nav-link .link-list {
            text-decoration: unset;
            color: black;
            margin: 0px 8px;
        }

        .profileimg {
            width: 10rem;
        }

        .desc {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1000px;
            min-width: 300px;
        }

        .wicon {
            width: 1rem;
        }

        .wket {
            width: 4rem;
        }

        .desprofile {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            margin-left: 1rem;
        }

        .navbar a {
            float: left;
            display: block;
            color: #070707;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .active {
            color: green !important;
            border: none;
            border-bottom: 3px solid green;
            border-radius: 0;
            outline: none;
        }

        .myswitch {
            width: 100px;
            height: 50px;

        }

        @media (max-width: 767px) {
            .desprofile {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .desc {
                justify-content: center;
            }
        }

        .star-icon {
            color: blue;
        }
    </style>
    <script>

        /* Di komen dulu, error soalnya

        {% if msg %}
        alert('{{msg}}')
        window.location.href = '/profile'
        {% endif %}

        */

        $(document).ready(function () {

            // Initial setup
            toggleFields('Semua');

            // Handle navbar link click event
            $('.navbar a').click(function (e) {
                e.preventDefault();
                var userType = $(this).attr('id').replace('Link', ''); // Extract 'customer' or 'seller'
                toggleFields(userType);
            });

            // Function to toggle fields based on user type
            function toggleFields(userType) {
                // Update navbar active state
                $('.navbar a').removeClass('active');
                $('#' + userType + 'Link').addClass('active');

            }


            toggleFields('Semua')

        });
        function submitForm() {
            // Mengambil referensi ke formulir
            var form = document.getElementById('formEditProfile');
            console.log(form)
            // Melakukan pengiriman formulir secara manual
            form.submit();
        }

        function favorit() {
            event.preventDefault();

            // Get the product and seller IDs from data attributes
            var productId = $(event.target).closest('.favorite-icon').data('product-id');
            var sellerId = $(event.target).closest('.favorite-icon').data('seller-id');

            // Toggle the star icon class
            var starIcon = $(event.target).closest('.card').find('.fa-star');
            starIcon.toggleClass('fa-regular fa-solid');


            alert("Star Clicked!");
        }
    </script>
</head>

<body>

    <nav class="nav-container fixed-top">
        <div class="navbar-brand"><img src="/static/logo.png" alt="" style="max-height: 25px;"></div>
        <div class="nav-link">
            <a href="#" class="link-list">Home</a>
            {% if username %}
            <a href="#" class="link-list" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                aria-controls="staticBackdrop">MyList</a>
            {% else %}
            <a href="#" class="link-list" onclick="showAlert()">MyList</a>
            {% endif %}
            {% if username %}
            <a href="/myprofile/<username>" class="link-list">Profile</a>
            {% else %}
            <a href="#" class="link-list" onclick="showAlert('Profile')">Profile</a>
            {% endif %}
        </div>
        <div class="nav-logout">
            {% if username %}
            <a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket fa-lg"
                    style="color: #000000;"></i></a>
            {% else %}
            <a href="/login" class="logout"><i class="fa-solid fa-arrow-right-from-bracket fa-lg"
                    style="color: #000000;"></i></a>
            {% endif %}


        </div>
    </nav>

    <div class="container-fluid" style="background-color: #ffc536ff;">
        <br>

        <div class="container-sm  d-flex  justify-content-center flex-wrap">
            <div class=" profileimg flex-warap flex-column d-flex align-items-center flex-center">
                <div class="my-3" style="height: 10rem; width:10rem; border-radius:50%; overflow:hidden">
                    <img src="/home/herald/TokoNusantara/static/profile_placeholder.png" alt="" class="img-circle"
                        style="height: 100%;">

                </div>

                <h5>{{data['toserbaname']}}</h5>

                <div>
                    <a href="mailto:{{data['email']}}" style="text-decoration: none;">{{data['email']}}</a>
                </div>
            </div>


            <div class="desprofile ">
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-solid fa-shop" style="color: #000000;"></i></div>
                    <div class="mx-1 wket">Produk</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1">263</div>
                </div>
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-solid fa-location-dot" style="color: #ff0000;"></i></div>
                    <div class="mx-1 wket">Alamat</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1"><a href="{{data['alamat']}}" target="_blank">{{data['alamat']}}</a></div>
                </div>
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-brands fa-whatsapp" style="color: #1b9834;"></i></div>
                    <div class="mx-1 wket">Telepon</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1">{{data['no_telp']}}</div>
                </div>
                <div class="desc">
                    <div class="mx-1 wicon"><i class="fa-solid fa-circle-info" style="color: #0c136e;"></i></div>
                    <div class="mx-1 wket">Deskripsi</div>
                    <div class="mx-1">:</div>
                    <div class="mx-1">{{data['profile_info']}}</div>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="navbar">
                    <a href="#" id="SemuaLink" class="myswitch active mx-2">Semua</a>
                    <a href="#" id="SembakoLink" class="myswitch mx-2">Sembako</a>
                    <a href="#" id="SabunLink" class="myswitch mx-2">Parabot</a>
                    <a href="#" id="LainLink" class="myswitch mx-2">Lain - lain</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- sidebar -->

    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="d-flex flex-column align-items-center">
                <figure class="figure">
                    <img src="{{ url_for('static', filename='profile_placeholder.png') }}"
                        class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">{{username}}
                    </figcaption>
                </figure>
                <h5>MyList</h5>
                <!-- card empty -->
                <div class="card card-sidebar card-mylist-empty">
                    <div class="card-body">
                        <p class="card-text">
                        <table id="mylist-empty" class="table">
                            <div>ups...
                                daftarmu masih
                                kosongg</div>
                        </table>
                        </p>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-sidebar card-mylist wider-card">
                    <div class="card-body">
                        <p class="card-text">
                        <table id="mylist" class="table">
                            <thead>
                                <tr class="list-subtitle">
                                    <th scope="col">Deskripsi</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Harga</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="row-list">
                                    <td>Indomie</td>
                                    <td>1</td>
                                    <td>Rp3.000</td>
                                </tr>
                                <tr id="row-list">
                                    <td>Elpiji</td>
                                    <td>1</td>
                                    <td>Rp17.000</td>
                                </tr>
                                <tr id="row-list">
                                    <td>Fortune</td>
                                    <td>2</td>
                                    <td>Rp18.000</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td id="list-total-harga">Rp96.000</td>
                                </tr>
                            </tfoot>
                        </table>
                        </p>
                        <div class="btn-list">
                            <button type="button" class="btn btn-secondary">Hapus</button>
                            <button type="button" class="btn btn-secondary">Edit</button>
                        </div>
                    </div>
                </div>
                <!-- card edit -->
                <div class="card card-sidebar card-mylist wider-card">
                    <div class="card-body">
                        <p class="card-text">
                        <table id="mylist" class="table">
                            <thead>
                                <tr class="list-subtitle">
                                    <th scope="col">Deskripsi</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Harga</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="row-list">
                                    <td>Indomie</td>
                                    <td>1</td>
                                    <td>Rp3.000</td>
                                    <td><a href="#" onclick="delete_list_item()"><i
                                                class="fa-solid fa-trash-can"></i></a></td>

                                </tr>
                                <tr id="row-list">
                                    <td>Elpiji</td>
                                    <td>1</td>
                                    <td>Rp17.000</td>
                                    <td><a href="#" onclick="delete_list_item()"><i
                                                class="fa-solid fa-trash-can"></i></a></td>
                                </tr>
                                <tr id="row-list">
                                    <td>Fortune</td>
                                    <td>2</td>
                                    <td>Rp18.000</td>
                                    <td><a href="#" onclick="delete_list_item()"><i
                                                class="fa-solid fa-trash-can"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td id="list-total-harga">Rp96.000</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                        </p>
                        <div class="btn-list">
                            <button type="button" class="btn btn-secondary">Selesai</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-lg mt-5">
        <div id="produk" class="row row-cols-1 row-cols-md-4 g-4">
            {% for product in products %}
            <div class="col">
                <div class="card">
                    <!-- Use the product's image (replace with your actual image source) -->
                    <div class="image-container" style="max-height: 80%; overflow: hidden;">
                        <a href="#" onclick="favorit()" data-product-id="${seller.productId}"
                            data-seller-id="${seller.sellerId}">
                            <i class="fa-regular fa-star position-absolute top-0 start-0 p-3 star-icon"
                                style="font-size: 24px;"></i>
                        </a>
                        <img src="{{ url_for('static', filename=product.foto) }}" class="card-img-top"
                            alt="Product Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.namaBarang }}</h5>
                        <p class="card-name">{{ product.toserbaname }}</p>
                        <p class="card-text">{{ product.desc }}</p>
                        <p class="card-text">Rp. {{ product.harga }}</p>
                        <p class="card-text">Tersisa {{ product.jumlah }}</p>
                    </div>
                    <div class="d-flex justify-content-around mb-3">
                        <button class="btn btn-secondary">Tambah Ke MyList</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/home" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="/static/logo.png" alt="" style="max-height: 25px;">
            </a>
        </div>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Toko Nusantara, </span>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram"
                        style="color: #f457c3;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-regular fa-envelope"
                        style="color: #eb2424;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook"
                        style="color: #0b53d0;"></i></a></li>

        </ul>
    </footer>
</div>

</html>